@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: blanchedalmond;
}

* {
    font-family: "Poppins", sans-serif; 
    padding: 0; 
    margin: 0; 
}

h1, h2 {
    text-align: center;
    width: 100%; 
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
    padding-top: 60px; 
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    margin: 20px; 
    padding-bottom: 40px;
    text-align: center;
}

section {
    padding: 0; 
    min-height: 120vh; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

section:nth-child(odd) {
    background-color: blanchedalmond;
    color:black; 
}

section:nth-child(even){
    background-color: #1d212b;
    color: blanchedalmond;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.align-lists {
    display: inline-flex;
    width: 90%;
    margin: 20px; 
    align-items: center;
} 

ul {
    margin: auto; 
    width: 30%;
    align-items: center;
}

.container {
    position: relative;
    top: 20vh;
}

.links {
    display: flex; 
}



.link-item{
    margin: 5px auto; 
    display: inline-block;
    width: 22%;
    transition: transform .2s;
}

.link-item:hover {
    transform: scale(1.1); 
}

.link-img {
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
}

.change-link-color{
    color: blanchedalmond; 
}

.prof-container {
    text-align: center;
    width: 100%;
}

.rtx-img {
    margin: auto;
    padding-bottom: 50px;
    display: block;
    border-radius: 20px;
}

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease; 
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1; 
}

.skills-container {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex; 
}

.lang-img {
    display: inline-block;
    margin: auto; 
    min-width: 100px;
    height: 100px;
}

.img-container {
    text-align: center;
    width: 100%;
}

.dashboard-img {
    display: flex;
    margin: auto;
    border-radius: 10px;
    max-width: 75%;
    max-height: 45%;
}

#projects {
    top: 0vh;
}


/*
    SLIDESHOW STYLES
*/

/*Hide the images by default*/
.slide {
    display: none;
}

/* Hover on slideshow dots */
.dot:hover {
    background-color: #717171;
    /*background-color: red;*/
}

.dotNew:hover {
    background-color: #717171;
    /*background-color: red;*/
}
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin:auto;
  }

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
  }

/* Position the "next button" to the right */
.next {
    right: 0;
}

.src-code-btn {
    color: white; 
    padding: 6px; 
    background-color: #1d212b;
    border-radius: 6px;
    width: auto;
    top: 1; 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .src-code-btn:hover {
    background-color: rgba(0,0,0,0.8); 
}

/* Dots/bullets/indicators on slideshow*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.dotNew {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-img {
    width: 60%; 
    border: 8px solid black; 
    border-radius: 8px;
} 

section:nth-child(even) .invert-color {
    filter: invert(90%);
}